body {
    background-color: #000;
    color: #fff;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

nav a.active {
  border-bottom: 2px solid #fff;
  font-weight: 800;
}

main {
    display: flex;
    justify-content: center;
}

table {
    margin: 0px auto;
}

td { 
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header { 
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: yellow;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;
}

footer {
  font-size: 0.85em;
  color: #bbb;
}